{% set actions = value %}

<ul class="list-inline">
{% for action in value %}
    {% if action.visible is not defined or action.visible %}
        <li class="list-inline-item">
            <a href="{{ action.url }}" class="btn btn-{{ action.btn_size|default('sm') }} btn-{{ action.btn_type|default('secondary') }}">
                {% if action.icon_class is defined %}<span class="{{ action.icon_class }}"></span>{% endif %}
                {{ action.name }}
            </a>
        </li>
    {% endif %}
{% endfor %}
</ul>
