{% set relatedTurboFrames = this.relatedTurboFrames ?? false %}
{% set form_options = {} %}

{% if relatedTurboFrames %}
    {% set form_options = form_options|merge({
        'attr': {
            'data-controller': 'form-turbo-frame-updater',
            'data-form-turbo-frame-updater-turbo-frame-ids-value': this.relatedTurboFrames|json_encode
        }
    }) %}
{% endif %}

{{ form_start(form, form_options) }}

{% set layoutFieldNames = [] %}
{% for row in grid.filterLayout %}
    {% set layoutFieldNames = layoutFieldNames|merge(row.fields) %}
    {% if row.fields|length > 1 %}
        <div class="row datagrid-filter-group">
            {% for fieldName in row.fields %}
                <div class="col datagrid-filter-group-item">
                    {{ form_row(form[fieldName]) }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        {{ form_row(form[row.fields[0]]) }}
    {% endif %}
{% endfor %}

{% for field in form %}
    {% if field.vars.block_prefixes[0] != 'button' and field.vars.name not in layoutFieldNames %}
        {{ form_row(field) }}
    {% endif %}
{% endfor %}

{% if not relatedTurboFrames %}
<div class="row">
    <div class="col text-end">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ datagrid_reset_url(form) }}" class="btn btn-default">
                    {{ 'Reset'|trans({}, 'KibaticDatagridBundle') }}
                </a>
            </li>

            {% for field in form %}
                <li class="list-inline-item">
                    {% if field.vars.block_prefixes[0] == 'button' %}
                        {{ form_row(field) }}
                    {% endif %}
                </li>
            {% endfor %}

            <li class="list-inline-item">
                <button type="submit" class="btn btn-primary">
                    {{ 'Filter'|trans({}, 'KibaticDatagridBundle') }}
                </button>
            </li>
        </ul>
    </div>
</div>
{% endif %}

{{ form_end(form) }}
