{{ form_start(form) }}

{% for field in form %}
    {% if field.vars.block_prefixes[0] != 'button' %}
        {{ form_row(field) }}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col text-end">
        <ul class="list-inline">
            {% set cleared_url = '' %}
            {% if form.vars.method == 'GET' %}
                {% set cleared_url = path(
                    app.request.attributes.get('_route'),
                    app.request.attributes.get('_route_params')|merge(app.request.query.all|filter((v, k) => k != form.vars.name))
                ) %}
            {% endif %}

            <li class="list-inline-item">
                <a href="{{ cleared_url }}" class="btn btn-default">
                    {{ 'Reset'|trans({}, 'KibaticDatagridBundle') }}
                </a>
            </li>

            {% for field in form %}
                <li class="list-inline-item">
                    {% if field.vars.block_prefixes[0] == 'button' %}
                        {{ form_row(field) }}
                    {% endif %}
                </li>
            {% endfor %}

            <li class="list-inline-item">
                <button type="submit" class="btn btn-primary">
                    {{ 'Filter'|trans({}, 'KibaticDatagridBundle') }}
                </button>
            </li>
        </ul>
    </div>
</div>
{{ form_end(form) }}
