{% set header_tr_class = block('grid_header_tr_class') is defined ? block('grid_header_tr_class') : '' %}

{% if grid.pagination.totalItemCount > 0 %}
    {% if grid.hasBatchActions %}
        <form name="datagrid-batch-action" method="{{ grid.batchMethod }}" action="{{ grid.batchActions[0].url }}">
            <input type="hidden" name="_token" value="{{ csrf_token(grid.batchActionsTokenId) }}">
    {% endif %}

    <table class="{% block grid_table_class %}table table-bordered table-striped table-hover{% endblock %}" {% if grid.hasBatchActions %}data-controller="checker"{% endif %}>
        <thead>
        <tr{% if header_tr_class is not empty %} class="{{ header_tr_class }}"{% endif %}>
            {% if grid.hasBatchActions %}
                <th>
                    <input type="checkbox" data-checker-target="master" title="{{ 'Select all'|trans({}, 'KibaticDatagridBundle') }}" />
                </th>
            {% endif %}
            {% for column in grid.columns %}
                {% set th_class = block('grid_header_th_class') is defined ? block('grid_header_th_class') : '' %}

                {% if column.templateParameter('col_class', null) is not null %}
                    {% set th_class = th_class ~ ' ' ~ column.templateParameter('col_class', null) %}
                {% endif %}

                <th {% if th_class is not empty %}class="{{ th_class }}"{% endif %}>
                    {% if not (column.name starts with '_') %}
                        {% if column.sortable is not null %}
                            {% set sortUrl = path(
                                grid.pagination.route,
                                grid.pagination.params|merge({
                                    'sort_by': column.sortable,
                                    'sort_order': grid.request.get('sort_order') == 'ASC' ? 'DESC' : 'ASC'
                                })
                            ) %}
                            <a href="{{ sortUrl }}" title="{{ 'Sort'|trans({}, 'KibaticDatagridBundle') }}">{{ column.name }}</a>
                        {% else %}
                            {{ column.name|trans }}
                        {% endif %}
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for item in grid.pagination %}
            <tr{{ grid.rowAttributes(item)|raw }}>
                {% if grid.hasBatchActions %}
                    <td>
                        <input type="checkbox" name="ids[]" value="{{ item.id }}" data-checker-target="checkbox" />
                    </td>
                {% endif %}
                {% for column in grid.columns %}
                    <td {% if column.templateParameter('col_class', null) is not null %}class="{{ column.templateParameter('col_class', null) }}"{% endif %}>
                        {% include '@KibaticDatagrid/_column_value.html.twig' %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="clearfix">
        {% if grid.hasBatchActions %}
            <div class="float-start">
                <div class="input-group">
                    <label class="input-group-text" for="batch-select">
                        {{ 'Batch action'|trans({}, 'KibaticDatagridBundle') }}
                    </label>
                    <select onchange="this.closest('form').action = this.value" class="form-select" id="batch-select">
                        {% for batchAction in grid.batchActions %}
                            <option value="{{ batchAction.url }}">{{ batchAction.label }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-small btn-primary" value="OK">
                </div>
            </div>
        {% endif %}

        <div class="float-end">
            {{ knp_pagination_render(grid.pagination, '@KnpPaginator/Pagination/bootstrap_v5_pagination.html.twig') }}
        </div>
    </div>

    {% if grid.hasBatchActions %}</form>{% endif %}
{% else %}
    <p class="alert alert-info">{{ 'No result'|trans({}, 'KibaticDatagridBundle') }}</p>
{% endif %}
