{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="row">
        <div class="col text-end">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="" class="btn btn-default">
                        {{ 'Reset'|trans({}, 'KibaticDatagridBundle') }}
                    </a>
                </li>
                <li class="list-inline-item">
                    <button type="submit" class="btn btn-primary">
                        {{ 'Filter'|trans({}, 'KibaticDatagridBundle') }}
                    </button>
                </li>
            </ul>
        </div>
    </div>
{{ form_end(form) }}