{{ form_start(form) }}

{% for field in form %}
    {% if field.vars.block_prefixes[0] != 'button' %}
        {{ form_row(field) }}
    {% endif %}
{% endfor %}

<div class="row">
    <div class="col text-end">
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="{{ datagrid_reset_url(form) }}" class="btn btn-default">
                    {{ 'Reset'|trans({}, 'KibaticDatagridBundle') }}
                </a>
            </li>

            {% for field in form %}
                <li class="list-inline-item">
                    {% if field.vars.block_prefixes[0] == 'button' %}
                        {{ form_row(field) }}
                    {% endif %}
                </li>
            {% endfor %}

            <li class="list-inline-item">
                <button type="submit" class="btn btn-primary">
                    {{ 'Filter'|trans({}, 'KibaticDatagridBundle') }}
                </button>
            </li>
        </ul>
    </div>
</div>
{{ form_end(form) }}
